@import '../styles/variables';
@import '../styles/mixins';

.contact{
    @include full-width;
    padding-top: $spacing-5xl;
    padding-bottom: $spacing-3xl;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &-info{
        &-heading{
            font-size: $font-size-h2;
            color: $color-primary;
            margin-bottom: $spacing-xl;
            font-weight: $font-weight-semibold;
        }

        &-text{
            font-size: $font-size-body;
            color: $color-text-dark;
            width: 45ch;
            margin-bottom: $spacing-xl;
            line-height: $line-height-tight;
            letter-spacing: $letter-spacing-normal;
        }

        &-contactdetails{
            display: flex;
            flex-direction: row;
            gap: $spacing-md;
            align-items: center;
            margin-bottom: $spacing-md;
            line-height: $line-height-tight;
            letter-spacing: $letter-spacing-normal;
            font-size: $font-size-body;
        }

        &-link{
            @include link-gradient-underline;
        }
    }

    &-formbox{
        &-form{
            @include flex-column;
        }

        &-label{
            font-size: $font-size-body-small;
            color: $color-text-dark;
            margin-bottom: 0.75rem;
        }

        &-input{
            padding: .75rem;
            width: 370px;
            background-color: $color-background-light;
            border: none;
            margin-bottom: 1.375rem;
            outline: none;
            font-size: 1.25rem;
            font-family: inherit;
            transition: box-shadow $transition-fast;
            &:focus {
                box-shadow: 0.5rem 0 1rem $color-gradient-blue, -.5rem 0 1rem $color-gradient-pink;
            }
        }

        textarea {
            resize: none;
        }


        &-input:nth-of-type(2n+1){
            background:
            linear-gradient(
            to left,
            $color-gradient-pink,
            $color-gradient-blue-alt
            )
            left
            bottom
            $color-background-light
            no-repeat;
            background-size:100% 3px;
        }

        &-input:nth-of-type(2n){
            background:
            linear-gradient(
            to left,
            $color-gradient-blue-alt,
            $color-gradient-pink
            )
            left
            bottom
            $color-background-light
            no-repeat;
            background-size:100% 3px;
        }

        &-submit{
            @include gradient-border-thin;
            color: $color-text-black;
            font-size: $font-size-body;
            padding: $spacing-sm $spacing-lg;
            border-radius: $border-radius-round;
            cursor: pointer;
            font-weight: $font-weight-semibold;
            text-decoration: none;
            margin-top: 1.375rem;
            transition: box-shadow $transition-fast;

            &:hover {
                @include box-shadow-hover;
            }
        }
    }
}

@include mobile {
    .contact{
        padding-bottom: $spacing-2xl;
        @include flex-column;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 0;

        &-info{
            @include full-width;
            &-heading{
                font-size: $font-size-mobile-h1;
                color: $color-primary;
                margin-bottom: $spacing-xl;
                font-weight: $font-weight-semibold;
            }

            &-text{
                font-size: $font-size-mobile-body;
                color: $color-text-dark;
                width: 32ch;
                margin-bottom: $spacing-xl;
                line-height: $line-height-tight;
                letter-spacing: $letter-spacing-normal;
            }

            &-contactdetails{
                display: flex;
                flex-direction: row;
                gap: $spacing-sm;
                align-items: center;
                margin-bottom: $spacing-md;
                line-height: $line-height-tight;
                letter-spacing: $letter-spacing-normal;
                font-size: 15px;
            }

            &-link{
                @include link-gradient-underline;
            }
        }

        &-formbox{
            @include full-width;

            &-form{
                @include flex-column;
                padding-top: $spacing-2xl;
            }

            &-label{
                font-size: $font-size-body-small;
                color: $color-text-dark;
                margin-bottom: 0.75rem;
            }

            &-input{
                padding: .75rem;
                width: calc(100% - 1.50rem);
                background-color: $color-background-light;
                border: none;
                margin-bottom: 1.375rem;
                outline: none;
                font-size: 1.25rem;
                font-family: inherit;
                transition: box-shadow $transition-fast;
                &:focus {
                    box-shadow: 0.5rem 0 1rem $color-gradient-blue, -.5rem 0 1rem $color-gradient-pink;
                }
            }

            &-input:nth-of-type(2n+1){
                background:
                linear-gradient(
                to left,
                $color-gradient-pink,
                $color-gradient-blue-alt
                )
                left
                bottom
                $color-background-light
                no-repeat;
                background-size:100% 3px;
            }

            &-input:nth-of-type(2n){
                background:
                linear-gradient(
                to left,
                $color-gradient-blue-alt,
                $color-gradient-pink
                )
                left
                bottom
                $color-background-light
                no-repeat;
                background-size:100% 3px;
            }

            &-submit{
                @include gradient-border-thin;
                color: $color-text-black;
                font-size: $font-size-body;
                padding: $spacing-sm $spacing-lg;
                border-radius: $border-radius-round;
                cursor: pointer;
                font-weight: $font-weight-semibold;
                text-decoration: none;
                margin-top: 1.375rem;
                transition: box-shadow $transition-fast;

                &:hover {
                    @include box-shadow-hover;
                }
            }

            textarea {
                resize: none;
            }
        }
    }
}