---
import "./Cooperation.scss";

const t = Astro.props.t;
---

<section class="cooperation" id="jak-wyglada-wspolpraca">
  <header>
    <h2 class="cooperation-heading">{t('cooperation.heading')}</h2>
  </header>

  <div class="cooperation-timeline">
    <!-- Left side (desktop) -->
    <ol class="cooperation-timeline-left">
      <li class="cooperation-timeline-left-content">
        <article class="cooperation-timeline-left-content-details first-text">
          <h3>{t('cooperation.step1.title')}</h3>
          <p>{t('cooperation.step1.text')}</p>
        </article>
        <span
          class="cooperation-timeline-left-content-number first-number"
          aria-hidden="true"
        >
          1
        </span>
      </li>

      <li class="cooperation-timeline-left-content">
        <article class="cooperation-timeline-left-content-details third-text">
          <h3>{t('cooperation.step3.title')}</h3>
          <p>{t('cooperation.step3.text')}</p>
        </article>
        <span
          class="cooperation-timeline-left-content-number third-number"
          aria-hidden="true"
        >
          3
        </span>
      </li>
    </ol>

    <!-- Timeline axis -->
    <aside class="cooperation-timeline-line" aria-hidden="true">
      <div class="cooperation-timeline-line-line"></div>
      <div class="cooperation-timeline-line-circle first-dot"></div>
      <div class="cooperation-timeline-line-circle second-dot"></div>
      <div class="cooperation-timeline-line-circle third-dot"></div>
      <div class="cooperation-timeline-line-circle fourth-dot"></div>
    </aside>

    <!-- Right side -->
    <ol class="cooperation-timeline-right">
      <li class="cooperation-timeline-right-content mobile-item">
        <span
          class="cooperation-timeline-right-content-number first-number"
          aria-hidden="true"
        >
          1
        </span>
        <article class="cooperation-timeline-right-content-details first-text">
          <h3>{t('cooperation.step1.title')}</h3>
          <p>{t('cooperation.step1.text')}</p>
        </article>
      </li>

      <li class="cooperation-timeline-right-content">
        <span
          class="cooperation-timeline-right-content-number second-number"
          aria-hidden="true"
        >
          2
        </span>
        <article class="cooperation-timeline-right-content-details second-text">
          <h3>{t('cooperation.step2.title')}</h3>
          <p>{t('cooperation.step2.text')}</p>
        </article>
      </li>

      <li class="cooperation-timeline-right-content mobile-item">
        <span
          class="cooperation-timeline-right-content-number third-number"
          aria-hidden="true"
        >
          3
        </span>
        <article class="cooperation-timeline-right-content-details third-text">
          <h3>{t('cooperation.step3.title')}</h3>
          <p>{t('cooperation.step3.text')}</p>
        </article>
      </li>

      <li class="cooperation-timeline-right-content">
        <span
          class="cooperation-timeline-right-content-number fourth-number"
          aria-hidden="true"
        >
          4
        </span>
        <article class="cooperation-timeline-right-content-details fourth-text">
          <h3>{t('cooperation.step4.title')}</h3>
          <p>{t('cooperation.step4.text')}</p>
        </article>
      </li>
    </ol>
  </div>
</section>
