---
import "./../components/Hero.scss";
---

<div class="hero">
  <div class="hero-squares"></div>
  <div class="hero-details">
    <h1 class="hero-title">
      Stworzymy stronę specjalnie<br /> dla potrzeb <span
        class="hero-title-innerText">Twojej Firmy</span
      >
    </h1>
    <p class="hero-subtitle">
      Dopasowane rozwiązania dla rozwoju biznesu i widoczności w sieci
    </p>
    <a href="#kontakt" class="hero-button">Skontaktuj się!</a>
  </div>
  <div class="hero-gradient"></div>
  <div class="whyneedsite-gradient"></div>
</div>

<script>
  import { gsap } from "gsap";

  const tl = gsap.timeline();

  tl.from(".hero-title", {
    y: "-1rem",
    opacity: 0.1,
    scale: ".5",
    duration: 0.3,
  })
    .from(".hero-subtitle", {
      y: "-2rem",
      opacity: 0,
      duration: 0.5,
    })
    .to(".hero-button", {
      y: "0",
      scale: 1,
      duration: 0.3,
    })
    .from(".hero-squares", { opacity: 0, duration: 2 })
    .to(".hero-squares", { y: -97, ease: "none", duration: 10, repeat: -1 });
  tl.play();
</script>
