.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFFAF;
    backdrop-filter: blur(.35rem);
    padding:1rem 3%;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    gap: 2rem;

    img{
        height: 75px;
        max-height: 75px;
        flex-shrink: 0;
    }

    .language-picker {
        margin-left: auto;
    }

    &-links{
        display: flex;
        flex-direction: row;
        gap:2rem;
        font-family: "Rubik", serif;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    &-link{
        text-decoration: none;
        color:#1B2F63;
        opacity: .5;
        font-size: 1.1rem;
        display: block;
        position: relative;
        transition: opacity .3s;
        white-space: nowrap;
    }
}

.navbar-link-current {
    opacity: 1;
    
    &:after {
        content: '';
        width: var(--navbar-after-width);
        height: .15rem;
        
        position: absolute;
        left: 0;
        bottom: -1rem;

        background-color: #1B2F63;
    }
}

@media screen and (max-width:1200px) {
    .navbar{
        display: none;
    }
}
