.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFFAF;
    backdrop-filter: blur(.35rem);
    padding:1rem 3%;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 10;
    gap: 2rem;

    img{
        height: 75px;
        max-height: 75px;
        flex-shrink: 0;
    }

    .language-picker {
        margin-left: auto;
    }

    &-links{
        display: flex;
        flex-direction: row;
        gap:2rem;
        font-family: "Rubik", serif;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    &-link{
        text-decoration: none;
        color:#1B2F63;
        opacity: .5;
        font-size: 1.1rem;
        display: block;
        position: relative;
        transition: opacity .3s;
        white-space: nowrap;
    }
}

.navbar-link-current {
    opacity: 1;
    
    &:after {
        content: '';
        width: var(--navbar-after-width);
        height: .15rem;
        
        position: absolute;
        left: 0;
        bottom: -1rem;

        background-color: #1B2F63;
    }
}

@media screen and (min-width: 2560px) and (max-width: 3440px) {
    .navbar {
        padding: 1.25rem 3%;

        img {
            height: 85px;
            max-height: 85px;
        }

        &-link {
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 3441px) {
    .navbar {
        padding: 2rem 3%;

        img {
            height: 120px;
            max-height: 120px;
        }

        &-links {
            gap: 3rem;
        }

        &-link {
            font-size: 1.8rem;
        }
    }

    .navbar-link-current {
        &:after {
            height: 0.2rem;
            bottom: -1.5rem;
        }
    }
}

@media screen and (max-width:1200px) {
    .navbar{
        padding: 1rem 5%;
        justify-content: flex-start;

        img {
            height: 60px;
            max-height: 60px;
        }

        .language-picker {
            margin-left: 0;
            position: fixed;
            top: 1.5rem;
            right: 1rem;
        }

        &-links {
            display: none;
        }
    }
}
