@import "../styles/mixins";

.past-projects {
  width: 100svw;
  padding: 5rem 5rem 10rem 5rem;
  background-color: rgb(9, 105, 144, 0.1);

  h2 {
    font-weight: 600;
    font-size: 48px;
    color: #1b2f63;
    padding-bottom: 7rem;
    text-align: center;
  }
  .project-catalogue {
    height: 600px;
    padding: 3rem;
    margin: -3rem;
    display: flex;
    justify-content: center;
    gap: 5rem;
    overflow-y: visible;
    overflow-x: auto;

    &-item {
      width: 400px;
      height: 100%;
      flex-shrink: 0;
      position: relative;
      border-radius: 2rem;
      overflow: hidden;
      box-shadow: 2px 2px 32px #000000af;
      transition: all 0.1s;

      &:hover {
        transform: scale(1.05);
      }

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        // overflow: hidden;
      }

      p {
        position: absolute;
        bottom: 10px;
        right: 2rem;
        width: fit-content;
        height: fit-content;
        padding: 1.25rem;
        color: white;
        font-weight: bold;
        background-color: #000000df;
        border-radius: 999999999px;
      }
    }
  }
}

@media screen and (max-width: 1500px) {
  .project-catalogue {
    padding: 3rem 0;
  }
}
