@import "../styles/variables";
@import "../styles/mixins";

.whyneedsite {
  height: 950px;
  width: 100vw;
  display: block;
  margin-top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  box-sizing: border-box;
  @include gradient-background-top(
    $gradient-opacity-full,
    $gradient-opacity-light,
    0
  );

  &-info {
    &-heading {
      @include heading-primary;
      margin-bottom: 2.75rem;
    }

    &-text {
      font-size: $font-size-body;
      color: $color-primary-lighter;
      line-height: $line-height-tight;
      letter-spacing: $letter-spacing-normal;
      width: 40ch;
    }
  }

  strong {
    font-weight: $font-weight-semibold;
  }

  &-gradient {
    width: 100%;
    height: 75px;
    background:
      linear-gradient(to bottom, #5dcaf5ce, rgba(93, 201, 245, 0)),
      linear-gradient(to bottom, rgba(231, 109, 245, 1), rgba(231, 109, 245, 0));
  }

  &-foto {
    position: relative;

    &-laptop {
      position: absolute;
      display: block;
      top: 0;
      left: 30px;
    }
  }
}

@media screen and (min-width: 2560px) and (max-width: 3440px) {
  .whyneedsite {
    height: auto;
    min-height: 100vh;
    padding-top: 12vh;
    padding-bottom: 8vh;

    &-info {
      &-heading {
        font-size: 3.5rem;
        margin-bottom: 3.5rem;
      }

      &-text {
        font-size: 1.5rem;
        width: 43ch;
        line-height: 1.6;
      }
    }

    &-foto {
      &-laptop {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (min-width: 3441px) {
  .whyneedsite {
    height: auto;
    min-height: 100vh;
    padding-top: 18vh;
    padding-bottom: 12vh;

    &-info {
      &-heading {
        font-size: 5.5rem;
        margin-bottom: 5rem;
      }

      &-text {
        font-size: 2.25rem;
        width: 50ch;
        line-height: 1.6;
      }
    }

    &-foto {
      &-laptop {
        transform: scale(1.6);
      }
    }
  }
}

// Those photos break the entire layout on certain screen sizes
@media screen and (max-width: 1500px) {
  .whyneedsite {
    padding: 5rem;
  }
  .whyneedsite-info {
    p {
      width: 100%;
    }
  }

  .whyneedsite-foto {
    display: none;

    &-laptop {
      position: absolute;
      display: block;
      top: 0;
      left: 30px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .whyneedsite {
    margin-top: 0;
    position: relative;
    padding-top: 10rem;
    padding-bottom: 10rem;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    display: block;
    height: auto;
    background:
      linear-gradient(
        to bottom,
        rgba(93, 201, 245, 0.8) 0%,
        rgba(93, 201, 245, 0.3) 40%,
        rgba(93, 201, 245, 0) 80%
      ),
      linear-gradient(
        to bottom,
        rgba(231, 109, 245, 0.8) 0%,
        rgba(231, 109, 245, 0.3) 40%,
        rgba(231, 109, 245, 0) 80%
      );

    &-foto {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      &-blob {
        //position: absolute;
        z-index: 10;
        transform: scale(1.15); //translate(-50px, -50px) rotate(-60deg);
      }

      &-laptop {
        display: none;
      }
    }

    &-info {
      &-heading {
        font-size: 28px;
        color: #1b2f63;
        margin-bottom: 2.75rem;
        font-weight: 600;
      }

      &-text {
        font-size: 16px;
        color: rgba(27, 47, 99, 0.7);
        line-height: 140%;
        letter-spacing: 0.18px;
        width: 30ch;
      }
    }

    // &-mobile{
    //     display: block;
    //     position: relative;
    //     padding-top: 10rem;
    //     padding-bottom: 10rem;
    //     padding-left: 5%;
    //     padding-right: 5%;
    //     overflow: hidden;

    //     &-image{
    //         position: absolute;
    //         z-index: 10;
    //         //width: 130%;
    //         transform: scale(1.15) translate(-50px, -50px) rotate(-60deg);
    //     }

    //     &-title{
    //         font-size: 28px;
    //         color: #1B2F63;
    //         margin-bottom: 2.75rem;
    //         font-weight: 600;
    //     }

    //     &-text{
    //         font-size: 16px;
    //         color: rgba(27,47,99,0.7);
    //         line-height: 140%;
    //         letter-spacing: 0.18px;
    //         width: 30ch;

    //     }

    //     strong{
    //         font-weight: 600;
    //     }
    // }
  }
}
