---
import "./WhyNeedSite.scss";
import blob from "./../images/Ellipse 7.svg";
import laptop from "./../images/g8.svg";

const t = Astro.props.t;
---

<section class="whyneedsite" id="dlaczego-potrzebuje-strony">
  <article class="whyneedsite-info">
    <h2 class="whyneedsite-info-heading">{t('why-need-site.heading')}</h2>
    <p class="whyneedsite-info-text">
      {t('why-need-site.text.part1')} <strong
    >{t('why-need-site.text.strong1')}</strong
    > {t('why-need-site.text.part2')}
      <strong>{t('why-need-site.text.strong2')}</strong> {t('why-need-site.text.part3')}
      <strong>{t('why-need-site.text.strong3')}</strong> {t('why-need-site.text.part4')}
    </p>
  </article>
  <figure class="whyneedsite-foto">
    <img src={blob.src} class="whyneedsite-foto-blob" alt="blob" />
    <img class="whyneedsite-foto-laptop" src={laptop.src} alt="blob" />
  </figure>
</section>

<script>
  import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";

      gsap.registerPlugin(ScrollTrigger);

      const tl = gsap.timeline();

      gsap.from(".whyneedsite-foto-blob", {
          // opacity:0,
          rotate: "360deg",
          duration: 10,
          ease: "none",
          repeat: -1,
          });
      gsap.from(".whyneedsite-foto-laptop", {
          scrollTrigger: ".whyneedsite-foto-laptop",
          opacity: 0,
          y: "-2rem",
          duration: 1,
          });

      gsap.from(".whyneedsite-info-heading", {
          scrollTrigger: ".whyneedsite-info-heading",
          opacity: 0,
          x: "-2rem",
          duration: 0.5,
          });
      gsap.from(".whyneedsite-info-text", {
          scrollTrigger: ".whyneedsite-info-heading",
          delay: 0.5,
          opacity: 0,
          y: "-2rem",
          duration: 1,
          });

      tl.play();
</script>
