---
import "./WhyUs.scss";

const t = Astro.props.t;
---

<div class="whyus" id="dlaczego-wlasnie-my">
  <h2>{t('why-us.heading')}</h2>
  <div class="whyus-details">
    <div class="whyus-side whyus-left">
      <h3 class="whyus-side-heading">{t('why-us.transparency.heading')}</h3>
      <hr />
      <p class="desktop-text">
        {t('why-us.transparency.desktop')}
      </p>

      <p class="mobile-text">
        {t('why-us.transparency.mobile')}
      </p>
    </div>

    <div class="whyus-middle">
      <h3 class="whyus-middle-heading">{t('why-us.solutions.heading')}</h3>
      <hr />
      <p class="desktop-text">
        {t('why-us.solutions.desktop')}
      </p>

      <p class="mobile-text">
        {t('why-us.solutions.mobile')}
      </p>
    </div>
    <div class="whyus-side whyus-right">
      <h3 class="whyus-side-heading">{t('why-us.team.heading')}</h3>
      <hr />
      <p class="desktop-text">
        {t('why-us.team.desktop')}
      </p>

      <p class="mobile-text">
        {t('why-us.team.mobile')}
      </p>
    </div>
  </div>
</div>

<script>
  import { gsap } from "gsap";
      import { ScrollTrigger } from "gsap/ScrollTrigger";

      gsap.registerPlugin(ScrollTrigger);

      const tl = gsap.timeline({ scrollTrigger: ".whyus" });

      tl.from(".whyus > h2", {
          delay: 0.25,
          y: -25,
          opacity: 0,
          })
          .from(".whyus-middle", {
          y: -50,
          duration: 0.5,
          opacity: 0,
          })
          .from(".whyus-left", {
          x: 400,
          // height: 600,
          opacity: 0,
          scale: 6 / 5,
          duration: 2,
          ease: "expo",
          })
          .from(
          ".whyus-right",
          {
              x: -400,
              opacity: 0,
              scale: 6 / 5,
              duration: 2,
              ease: "expo",
              },
          "<"
          );
      document.getElementById("scroll")?.scrollTo({
          top: 0,
          left:
              document.getElementById("scroll")?.offsetWidth! * 0.05 +
                  320 +
                  70 -
                  (document.getElementById("scroll")?.offsetWidth! - 295) / 2,
          });
</script>
