.desktop-text {
    display: block;
}

.mobile-text {
display: none;
}

.whyus {
    min-height: 300px;
    padding: 15rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    position: relative;
    isolation: isolate;
    z-index: 1;

    &-mobile{
        display: none;
    }

    h2 {
        font-size: 56px;
        color: #1B2F63;
        margin-bottom: 7.5rem;
        font-weight: 600;
    }

    p {
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.18px;
        color: rgba(27,47,99,0.75);
    }

    hr {
        width: 100px;
        margin: 2rem auto;
    }

    &-details {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        position: relative;
    }

    &-side {
        width: 400px;
        min-height: 450px;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 32px;
        box-shadow: 2px 2px 32px rgba(93,201,245,0.5);
        padding: 2.5rem;
        line-height: 140%;
        letter-spacing: 0.18px;
        font-size: 18px;
        color: rgba(27,47,99,0.75);
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        &-heading {
            font-size: 28px;
            color: #1B2F63;
            text-align: center;
            margin: 1.5rem 0;
            font-weight: 600;
            flex-shrink: 0;
        }
    }

    &-middle {
        width: 450px;
        min-height: 500px;
        border: 1px solid rgba(0,0,0,0.15);
        border-radius: 32px;
        box-shadow: 2px 2px 32px rgba(231,109,245,0.5);
        padding: 2.5rem;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: 0.18px;
        position: relative;
        background-color: white;
        z-index: 2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        p{
            color: rgba(129,10,143,0.75);
        }

        &-heading {
            font-size: 28px;
            font-weight: 600;
            color: #810A8F;
            text-align: center;
            margin: 1.5rem 0;
            flex-shrink: 0;
        }
    }
}

@media screen and (min-width: 2560px) and (max-width: 3440px) {
    .whyus {
        padding: 18vh 0;
        min-height: 100vh;

        h2 {
            font-size: 3.5rem;
            margin-bottom: 8rem;
        }

        p {
            font-size: 1.3rem;
        }

        &-details {
            gap: 2.5rem;
        }

        &-side {
            width: 450px;
            min-height: 500px;
            padding: 3rem;
            font-size: 1.3rem;

            &-heading {
                font-size: 2rem;
                margin: 1.75rem 0;
            }
        }

        &-middle {
            width: 490px;
            min-height: 540px;
            padding: 3rem;
            font-size: 1.3rem;

            &-heading {
                font-size: 2rem;
                margin: 1.75rem 0;
            }
        }
    }
}

@media screen and (min-width: 3441px) {
    .whyus {
        padding: 22vh 0;
        min-height: 100vh;

        h2 {
            font-size: 5.5rem;
            margin-bottom: 12rem;
        }

        p {
            font-size: 2rem;
        }

        &-details {
            gap: 4rem;
        }

        &-side {
            width: 650px;
            min-height: 700px;
            padding: 4.5rem;
            font-size: 2rem;

            &-heading {
                font-size: 3rem;
                margin: 2.5rem 0;
            }
        }

        &-middle {
            width: 700px;
            min-height: 750px;
            padding: 4.5rem;
            font-size: 2rem;

            &-heading {
                font-size: 3rem;
                margin: 2.5rem 0;
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .desktop-text {
        display: none;
    }

    .mobile-text {
    display: block;
    }

    .whyus{
        display: block;
        padding-bottom: 8rem;
        padding-top:0;
        position: relative;
        min-height: 800px;
        overflow: hidden;
        margin-top: 10rem;

        hr{
            display: block;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: auto;
            margin-inline-end: auto;
            unicode-bidi: isolate;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
            width: auto;
        }

        h2 {
            font-size: 28px;
            color: #1B2F63;
            margin-bottom: 3rem;
            font-weight: 600;
            padding-left: 5%;
            padding-right: 5%;
        }

        &-details{
            display: flex;
            align-items: center;
            justify-content: start;
            overflow-x: scroll;
            position: absolute;
            scroll-snap-type: x mandatory;
            scroll-padding-left: 5%;

            gap:50px;
            min-height: 550px;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 2rem;
        }

        &-details::-webkit-scrollbar {
            display: none;
        }

        &-side {
            min-width: 260px;
            max-width: 260px;
            min-height: 400px;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 24px;
            box-shadow: 2px 2px 32px rgba(93,201,245,0.5);
            padding: 1.75rem 1.5rem;
            color: rgba(27,47,99,0.75);
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            scroll-snap-align: start;

            p{
                font-size: 13px;
                color: rgba(27,47,99,0.75);
                padding-top: 0.75rem;
                line-height: 150%;
                letter-spacing: 0.15px;
                flex: 1;
            }

            &-heading {
                font-size: 18px;
                color: #1b2f63cc;
                text-align: center;
                margin: 0.75rem 0;
                margin-bottom: 1rem;
                font-weight: 600;
                flex-shrink: 0;
            }
        }

        &-middle {
            min-width: 260px;
            max-width: 260px;
            min-height: 420px;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 24px;
            box-shadow: 2px 2px 32px rgba(231,109,245,0.5);
            padding: 1.75rem 1.5rem;
            position: relative;
            background-color: white;
            z-index: 2;
            display: flex;
            flex-direction: column;
            scroll-snap-align: start;

            p{
                font-size: 13px;
                color: rgba(129,10,143,0.75);
                padding-top: 0.75rem;
                line-height: 150%;
                letter-spacing: 0.15px;
                flex: 1;
            }

            &-heading {
                font-size: 20px;
                font-weight: 600;
                color: #810A8F;
                text-align: center;
                margin: 0.75rem 0;
                margin-bottom: 1rem;
                flex-shrink: 0;
            }
        }
    }
}

@media screen and (max-width:1600px) and (min-width:1200px){
    .desktop-text {
        display: none;
    }
    
    .mobile-text {
    display: block;
    }

    .whyus{
        display: block;
        padding-bottom: 8rem;
        padding-top:0;
        position: relative;
        min-height: 750px;
        overflow: hidden;
        margin-top: 10rem;

        hr{
            display: block;
            margin-block-start: 0.5em;
            margin-block-end: 0.5em;
            margin-inline-start: auto;
            margin-inline-end: auto;
            unicode-bidi: isolate;
            overflow: hidden;
            border-style: inset;
            border-width: 1px;
            width: auto;
        }

        h2 {
            font-size: 42px;
            color: #1B2F63;
            margin-bottom: 3rem;
            font-weight: 600;
            padding-left: 5%;
            padding-right: 5%;
        }

        &-details{
            display: flex;
            align-items: center;
            justify-content: start;
            overflow-x: scroll;
            position: absolute;
            scroll-snap-type: x mandatory;
            scroll-padding-left: 5%;

            gap:50px;
            min-height: 500px;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 2rem;
        }

        &-details::-webkit-scrollbar {
            display: none;
        }

        &-side {
            min-width: 260px;
            max-width: 260px;
            min-height: 380px;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 24px;
            box-shadow: 2px 2px 32px rgba(93,201,245,0.5);
            padding: 1.75rem 1.5rem;
            color: rgba(27,47,99,0.75);
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            scroll-snap-align: start;

            p{
                font-size: 12px;
                color: rgba(27,47,99,0.75);
                padding-top: 0.75rem;
                line-height: 150%;
                letter-spacing: 0.15px;
                flex: 1;
            }

            &-heading {
                font-size: 18px;
                color: #1B2F63;
                text-align: center;
                margin: 0.75rem 0;
                margin-bottom: 1rem;
                font-weight: 600;
                flex-shrink: 0;
            }
        }

        &-middle {
            min-width: 260px;
            max-width: 260px;
            min-height: 400px;
            border: 1px solid rgba(0,0,0,0.15);
            border-radius: 24px;
            box-shadow: 2px 2px 32px rgba(231,109,245,0.5);
            padding: 1.75rem 1.5rem;
            position: relative;
            background-color: white;
            z-index: 2;
            display: flex;
            flex-direction: column;
            scroll-snap-align: start;

            p{
                font-size: 13px;
                color: rgba(129,10,143,0.75);
                padding-top: 0.75rem;
                line-height: 150%;
                letter-spacing: 0.15px;
                flex: 1;
            }

            &-heading {
                font-size: 20px;
                font-weight: 600;
                color: #810A8F;
                text-align: center;
                margin: 0.75rem 0;
                margin-bottom: 1rem;
                flex-shrink: 0;
            }
        }
    }
}
